@import './Cores';
.contato{
    padding: 10px;
    max-width: 250px;
    min-width: 250px;

    margin: 15px;
    display: flex;
    flex-direction: column;
    .contato-numero{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    p{
        max-width: 230px;
    }
    .contato-endereco{
        max-width: 230px;
        font-size: 10px;
    }
}

